:root {
  --gray-100: rgba(255, 255, 255, 1);
  --gray-200: rgba(249, 249, 249, 1);
  --gray-300: rgba(242, 242, 242, 1);
  --gray-400: rgba(235, 235, 235, 1);
  --gray-500: rgba(211, 211, 211, 1);
  --gray-600: rgba(161, 161, 161, 1);
  --gray-700: rgba(90, 90, 90, 1);
  --gray-800: rgba(68, 68, 68, 1);
  --gray-900: rgba(48, 48, 48, 1);
  --gray-1000: rgba(35, 35, 35, 1);
  --gray-1100: rgba(27, 27, 27, 1);
  --green-100: rgba(237, 255, 244, 1);
  --green-200: rgba(214, 255, 231, 1);
  --green-300: rgba(175, 255, 208, 1);
  --green-400: rgba(113, 255, 172, 1);
  --green-500: rgba(45, 251, 129, 1);
  --green-600: rgba(2, 229, 96, 1);
  --green-700: rgba(0, 191, 76, 1);
  --green-800: rgba(0, 148, 62, 1);
  --green-900: rgba(6, 117, 53, 1);
  --green-1000: rgba(8, 95, 46, 1);
  --green-1100: rgba(0, 54, 23, 1);
  --LABEL-font-family: "Archivo", Helvetica;
  --LABEL-font-weight: 700;
  --LABEL-font-size: 10px;
  --LABEL-letter-spacing: 0px;
  --LABEL-line-height: 16px;
  --LABEL-font-style: normal;
  --h1-700-font-family: "Archivo", Helvetica;
  --h1-700-font-weight: 700;
  --h1-700-font-size: 64px;
  --h1-700-letter-spacing: 0px;
  --h1-700-line-height: 80px;
  --h1-700-font-style: normal;
  --h1-600-font-family: "Archivo", Helvetica;
  --h1-600-font-weight: 600;
  --h1-600-font-size: 64px;
  --h1-600-letter-spacing: 0px;
  --h1-600-line-height: 80px;
  --h1-600-font-style: normal;
  --h1-500-font-family: "Archivo", Helvetica;
  --h1-500-font-weight: 500;
  --h1-500-font-size: 64px;
  --h1-500-letter-spacing: 0px;
  --h1-500-line-height: 80px;
  --h1-500-font-style: normal;
  --h2-700-font-family: "Archivo", Helvetica;
  --h2-700-font-weight: 700;
  --h2-700-font-size: 48px;
  --h2-700-letter-spacing: 0px;
  --h2-700-line-height: 64px;
  --h2-700-font-style: normal;
  --h2-600-font-family: "Archivo", Helvetica;
  --h2-600-font-weight: 600;
  --h2-600-font-size: 48px;
  --h2-600-letter-spacing: 0px;
  --h2-600-line-height: 64px;
  --h2-600-font-style: normal;
  --h2-500-font-family: "Archivo", Helvetica;
  --h2-500-font-weight: 500;
  --h2-500-font-size: 48px;
  --h2-500-letter-spacing: 0px;
  --h2-500-line-height: 64px;
  --h2-500-font-style: normal;
  --h3-700-font-family: "Archivo", Helvetica;
  --h3-700-font-weight: 700;
  --h3-700-font-size: 32px;
  --h3-700-letter-spacing: 0px;
  --h3-700-line-height: 40px;
  --h3-700-font-style: normal;
  --h3-600-font-family: "Archivo", Helvetica;
  --h3-600-font-weight: 600;
  --h3-600-font-size: 32px;
  --h3-600-letter-spacing: 0px;
  --h3-600-line-height: 40px;
  --h3-600-font-style: normal;
  --h3-500-font-family: "Archivo", Helvetica;
  --h3-500-font-weight: 500;
  --h3-500-font-size: 32px;
  --h3-500-letter-spacing: 0px;
  --h3-500-line-height: 40px;
  --h3-500-font-style: normal;
  --h4-700-font-family: "Archivo", Helvetica;
  --h4-700-font-weight: 700;
  --h4-700-font-size: 24px;
  --h4-700-letter-spacing: 0px;
  --h4-700-line-height: 32px;
  --h4-700-font-style: normal;
  --h4-600-font-family: "Archivo", Helvetica;
  --h4-600-font-weight: 600;
  --h4-600-font-size: 24px;
  --h4-600-letter-spacing: 0px;
  --h4-600-line-height: 32px;
  --h4-600-font-style: normal;
  --h4-500-font-family: "Lato", Helvetica;
  --h4-500-font-weight: 500;
  --h4-500-font-size: 24px;
  --h4-500-letter-spacing: 0px;
  --h4-500-line-height: 32px;
  --h4-500-font-style: normal;
  --h5-700-font-family: "Archivo", Helvetica;
  --h5-700-font-weight: 700;
  --h5-700-font-size: 20px;
  --h5-700-letter-spacing: 0px;
  --h5-700-line-height: 28px;
  --h5-700-font-style: normal;
  --h5-600-font-family: "Archivo", Helvetica;
  --h5-600-font-weight: 600;
  --h5-600-font-size: 20px;
  --h5-600-letter-spacing: 0px;
  --h5-600-line-height: 28px;
  --h5-600-font-style: normal;
  --h5-500-font-family: "Archivo", Helvetica;
  --h5-500-font-weight: 500;
  --h5-500-font-size: 20px;
  --h5-500-letter-spacing: 0px;
  --h5-500-line-height: 28px;
  --h5-500-font-style: normal;
  --body1-700-font-family: "Archivo", Helvetica;
  --body1-700-font-weight: 700;
  --body1-700-font-size: 18px;
  --body1-700-letter-spacing: 0px;
  --body1-700-line-height: 24px;
  --body1-700-font-style: normal;
  --body1-600-font-family: "Archivo", Helvetica;
  --body1-600-font-weight: 600;
  --body1-600-font-size: 18px;
  --body1-600-letter-spacing: 0px;
  --body1-600-line-height: 24px;
  --body1-600-font-style: normal;
  --body1-500-font-family: "Archivo", Helvetica;
  --body1-500-font-weight: 500;
  --body1-500-font-size: 18px;
  --body1-500-letter-spacing: 0px;
  --body1-500-line-height: 24px;
  --body1-500-font-style: normal;
  --body2-700-font-family: "Archivo", Helvetica;
  --body2-700-font-weight: 700;
  --body2-700-font-size: 16px;
  --body2-700-letter-spacing: 0px;
  --body2-700-line-height: 24px;
  --body2-700-font-style: normal;
  --body2-600-font-family: "Archivo", Helvetica;
  --body2-600-font-weight: 600;
  --body2-600-font-size: 16px;
  --body2-600-letter-spacing: 0px;
  --body2-600-line-height: 24px;
  --body2-600-font-style: normal;
  --body2-500-font-family: "Archivo", Helvetica;
  --body2-500-font-weight: 500;
  --body2-500-font-size: 16px;
  --body2-500-letter-spacing: 0px;
  --body2-500-line-height: 24px;
  --body2-500-font-style: normal;
  --body3-700-font-family: "Archivo", Helvetica;
  --body3-700-font-weight: 700;
  --body3-700-font-size: 14px;
  --body3-700-letter-spacing: 0px;
  --body3-700-line-height: 20px;
  --body3-700-font-style: normal;
  --body3-600-font-family: "Archivo", Helvetica;
  --body3-600-font-weight: 600;
  --body3-600-font-size: 14px;
  --body3-600-letter-spacing: 0px;
  --body3-600-line-height: 20px;
  --body3-600-font-style: normal;
  --body3-500-font-family: "Archivo", Helvetica;
  --body3-500-font-weight: 500;
  --body3-500-font-size: 14px;
  --body3-500-letter-spacing: 0px;
  --body3-500-line-height: 18px;
  --body3-500-font-style: normal;
  --body4-700-font-family: "Archivo", Helvetica;
  --body4-700-font-weight: 700;
  --body4-700-font-size: 12px;
  --body4-700-letter-spacing: 0px;
  --body4-700-line-height: 16px;
  --body4-700-font-style: normal;
  --body4-600-font-family: "Archivo", Helvetica;
  --body4-600-font-weight: 600;
  --body4-600-font-size: 12px;
  --body4-600-letter-spacing: 0px;
  --body4-600-line-height: 16px;
  --body4-600-font-style: normal;
  --body4-500-font-family: "Archivo", Helvetica;
  --body4-500-font-weight: 500;
  --body4-500-font-size: 12px;
  --body4-500-letter-spacing: 0px;
  --body4-500-line-height: 16px;
  --body4-500-font-style: normal;
  --01: 0px 15px 15px 0px rgba(0, 0, 0, 0.1);
  --02: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
  --03: 0px 25px 50px 0px rgba(0, 0, 0, 0.25);
  --MODAL: 0px 25px 100px 0px rgba(0, 0, 0, 0.15), 0px 5px 50px 0px rgba(0, 0, 0, 0.25);
}
